*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #222;
}
.container{
  display: grid;
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100px 1fr;
  gap: 15px;
  margin: auto;
}
.header{
  grid-area: h;
}
.nav{
  grid-area: n;
}
.content{
  grid-area: c;
  width: 100%;
  overflow-y: scroll;
}
.container>*{
  background: #fcf8ea;
  border-radius: 20px;
  padding: 20px;
}